.red{
    color: white;
    background-color: red;
}
/* #head{
    color: black;
    background-color: purple;
} */
.one p{
    background-color: indianred;
    color: blueviolet;
}
.rohit{
    background-color: rebeccapurple;
}
